---
import { postFileToUrl } from "../../../util";
import Tags from "../../../components/Tags.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../../posts/*.md");

  // split .frontmatter.tags from every blog post
  const tags = allPosts
    .map((post) => post.frontmatter.tags)
    .filter((tags) => tags)
    .join(" ")
    .split(" ");

  // remove duplicates
  const uniqueTags = [...new Set(tags)];

  // create paths for every tag
  const paths = uniqueTags.map((tag) => ({
    params: { tag },
  }));

  return paths;
}

import Page from "../../../layouts/Page.astro";

const { tag } = Astro.params;

const allPosts = (await Astro.glob("../../../posts/*.md"))
  .filter((post) => post.frontmatter.tags.split(" ").includes(tag))
  .sort((a, b) => {
    const aDate = new Date(a.frontmatter.date) as any;
    const bDate = new Date(b.frontmatter.date) as any;
    return bDate - aDate;
  })
  .map((post) => ({
    ...post,
    url: postFileToUrl(post.file),
  }));
---

<Page title="Blog posts">
  <a
    href="/blog"
    class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
    >All posts</a
  > / {tag} tag
  <h1>{tag} posts</h1>
  <ul class="list-none space-y-6">
    {
      // Concise list of posts with title and tags
      allPosts.map((post) => (
        <li class="space-y-2">
          <a
            href={`/${post.url}`}
            class="text-blue-600 hover:text-blue-800 visited:text-purple-600"
          >
            {post.frontmatter.title}
          </a>
          <div class="flex flex-row space-x-4">
            <div class="text-2xs text-black">
              {new Date(post.frontmatter.date).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </div>
            <div class="text-2xs">{post.frontmatter.author}</div>
          </div>
          <Tags tags={post.frontmatter.tags} />
        </li>
      ))
    }
  </ul>
</Page>
